name: Deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branches
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    environment: prod
    env:
      ENV_NAME: prod
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update Prod Docker in server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PWD }}
          port: ${{ secrets.SERVER_PORT }}
          script_stop: true
          script: |
            cd /var/www/cicd
            git checkout main
            git pull
            sudo docker-compose up -d --build -e ENV_NAME=${{ env.ENV_NAME }}